<!DOCTYPE html>
<html>
<head>
    <title>Annonce</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
        <h3 class="titre_session">{{login}}</h3>
        <h1 class="titre">Liste des annonces</h1>
        <div class="annonces">
            <div ng-repeat="x in mesAnnonces" class="annonce">
                <my-annonce label="A propos" on-click="onClickfunction(selectedValue)" x="x"></my-annonce>
            </div>
        </div>
        <form class="form" action="/logout" method="GET">
            <button class="submit" type="submit">Déconnexion</button>
        </form>
    </div>
    <script>
        var app = angular.module("myApp", ["ngCookies"]);
        
        app.controller("myCtrl", function($scope, $cookies){
            $scope.mesAnnonces=['musique', 'sport', 'concert', 'lecture'];
            $scope.onClickfunction = function(selectedValue){
                $cookies.put("selected_annonce", selectedValue);
            };
        });

        app.directive('myAnnonce', function(){
            return {
                restrict: 'E',
                template: `
                    <div class="annonce-info">
                        <h2 class="annonce-title">{{ x }}</h2>
                        <img ng-src="{{ x + '.png' }}" class="annonce-image" alt="Image de l'annonce {{x}}">
                    </div>
                    <a class="link" ng-click="onClick({ selectedValue: x })" href="Apropos.html">{{ label }}</a>
                `,
                scope: {
                    label: '@',
                    onClick: '&',
                    x: '=' 
                }
            };
        });
    </script>
</body>
</html>
